In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
import pandas as pd
import numpy as np

In [17]:
df=pd.read_csv("/content/drive/MyDrive/CAPSTONE DATASET/Indian Liver Patient.zip (Unzipped Files)/indian_liver_patient.csv")

In [18]:
df.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [19]:
df.shape

(583, 11)

In [21]:
df['Dataset'].value_counts()

1    416
2    167
Name: Dataset, dtype: int64

1 for patient <br>

2 for not a patient

In [22]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [23]:
df.dtypes

Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

therea are 4 null values only in the dataset column Albumin_and_Globulin_Ratio

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
col=df.columns
print(col)

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'],
      dtype='object')

In [49]:
features=df[['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio']]
target=df['Dataset']
print(features.shape)
print(target.shape)

(583, 10)
(583,)

applying one hot encoding on Gender dataset

In [44]:
gender=features.Gender
type(gender)
gender=pd.get_dummies(gender,drop_first=True)
features=features.drop(columns='Gender')
features_merged=pd.concat([features,gender],axis='columns')

pandas.core.series.Series

In [45]:
gender=pd.get_dummies(gender,drop_first=True)

In [51]:
gender.shape

(583, 1)

In [53]:
features=features.drop(columns='Gender')

In [55]:
features_merged=pd.concat([features,gender],axis='columns')

In [57]:
features_merged.head()

   Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio  Male
0   65              0.7  ...                        0.90     0
1   62             10.9  ...                        0.74     1
2   62              7.3  ...                        0.89     1
3   58              1.0  ...                        1.00     1
4   72              3.9  ...                        0.40     1

[5 rows x 10 columns]

In [59]:
from sklearn.preprocessing import StandardScaler

In [63]:
from sklearn.impute import SimpleImputer

In [64]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
x=imp_mean.fit_transform(features_merged.values)

In [67]:
x.shape

(583, 10)

In [70]:
type(x)

numpy.ndarray

In [71]:
np.nan in x

False

In [73]:
sc=StandardScaler()
x=sc.fit_transform(x)

In [74]:
x

array([[ 1.25209764, -0.41887783, -0.49396398, ...,  0.19896867,
        -0.14789798, -1.76228085],
       [ 1.06663704,  1.22517135,  1.43042334, ...,  0.07315659,
        -0.65069686,  0.56744644],
       [ 1.06663704,  0.6449187 ,  0.93150811, ...,  0.19896867,
        -0.17932291,  0.56744644],
       ...,
       [ 0.44843504, -0.4027597 , -0.45832717, ...,  0.07315659,
         0.16635131,  0.56744644],
       [-0.84978917, -0.32216906, -0.35141677, ...,  0.32478075,
         0.16635131,  0.56744644],
       [-0.41704777, -0.37052344, -0.42269037, ...,  1.58290153,
         1.73759779,  0.56744644]])

In [76]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [78]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(x,target,test_size=0.2,random_state=0)

## Applying SVM:

In [79]:
clf=SVC()
clf.fit(X_train,y_train)
print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))

Accuracy :  0.6666666666666666

In [80]:
from sklearn.model_selection import cross_val_score

In [84]:
 scores = cross_val_score(clf, X_train, y_train, cv=5)

<built-in method mean of numpy.ndarray object at 0x7fab530245d0>

In [85]:
print(scores.mean())

0.7253260123541525

training accuracy is around 72 while test accuracy is over 66

## Applying Random Forest

In [87]:
clf=RandomForestClassifier(n_estimators=8)
clf.fit(X_train,y_train)
scores = cross_val_score(clf, X_train, y_train, cv=5)

In [88]:
print(scores.mean())

0.7124685426675819

In [89]:
print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))

Accuracy :  0.6666666666666666

##Applying decision tree classifier

In [90]:
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)
scores = cross_val_score(clf, X_train, y_train, cv=5)
print(scores.mean())

0.6479524136353237

In [91]:
print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))

Accuracy :  0.6495726495726496

## Applying logistic regression

In [92]:
from sklearn.linear_model import LogisticRegression

In [93]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
scores = cross_val_score(clf, X_train, y_train, cv=5)
print(scores.mean())

0.7253946465339741

In [94]:
print(" testing Accuracy with logistic regression: ", accuracy_score(clf.predict(X_test),y_test))

 testing Accuracy with logistic regression:  0.7008547008547008

since the dataset was somewhat imbalanced applying upsampling techniques to fill up the data and then later on cheking how much of our accuracy is impacted

# UPSAMPLING THE IMBALANCED DATASET :

In [95]:
df['Dataset'].value_counts()

1    416
2    167
Name: Dataset, dtype: int64

In [96]:
df_majority=df[df["Dataset"]==1]
df_minority=df[df["Dataset"]==2]

In [97]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority, replace=True, n_samples=414, random_state=123 )

In [98]:
df_upsampled=pd.concat([df_majority, df_minority_upsampled])

In [99]:
df_upsampled.shape

(830, 11)

In [101]:
df_upsampled['Dataset'].value_counts()

1    416
2    414
Name: Dataset, dtype: int64

In [102]:
features=df_upsampled[['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio']]
target=df_upsampled['Dataset']
print(features.shape)
print(target.shape)

(830, 10)
(830,)

In [103]:
gender=features.Gender
gender=pd.get_dummies(gender,drop_first=True)
features=features.drop(columns='Gender')
features_merged=pd.concat([features,gender],axis='columns')

In [104]:
features_merged.head()

   Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio  Male
0   65              0.7  ...                        0.90     0
1   62             10.9  ...                        0.74     1
2   62              7.3  ...                        0.89     1
3   58              1.0  ...                        1.00     1
4   72              3.9  ...                        0.40     1

[5 rows x 10 columns]

In [105]:
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
x=imp_mean.fit_transform(features_merged.values)

In [106]:
np.isnan in x

False

In [107]:
x.shape

(830, 10)

In [108]:
sc=StandardScaler()
x=sc.fit_transform(x)
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(x,target,test_size=0.2,stratify=target,random_state=0)

### applying SVM

In [109]:
clf=SVC()
clf.fit(X_train,y_train)
print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))
scores = cross_val_score(clf, X_train, y_train, cv=10)
print("training accuracy with SVM: ",scores.mean())
print("testing Accuracy with SVM : ", accuracy_score(clf.predict(X_test),y_test))

Accuracy :  0.7168674698795181
training accuracy with SVM:  0.7122795115332429
testing Accuracy with SVM :  0.7168674698795181

### Applying Random Forest:

In [112]:
clf=RandomForestClassifier(n_estimators=8)
clf.fit(X_train,y_train)
print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))
scores = cross_val_score(clf, X_train, y_train, cv=10)
print("training accuracy with Random Forest: ",scores.mean())
print("testing Accuracy with Random Forest : ", accuracy_score(clf.predict(X_test),y_test))

Accuracy :  0.9036144578313253
training accuracy with Random Forest:  0.8236092265943011
testing Accuracy with Random Forest :  0.9036144578313253

## Applying Decision Tree :

In [113]:
clf=DecisionTreeClassifier()
clf.fit(X_train,y_train)
#print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))
scores = cross_val_score(clf, X_train, y_train, cv=10)
print("training accuracy with Decision Tree : ",scores.mean())
print("testing Accuracy with Decision Tree  : ", accuracy_score(clf.predict(X_test),y_test))

training accuracy with Decision Tree :  0.819312528267752
testing Accuracy with Decision Tree  :  0.8433734939759037

#Applying Logistic regression :

In [114]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
scores = cross_val_score(clf, X_train, y_train, cv=10)
print("training accuracy with LOgistic Regression : ",scores.mean())
print("testing Accuracy with Logistic regression : ", accuracy_score(clf.predict(X_test),y_test))

training accuracy with LOgistic Regression :  0.6925599276345544
testing Accuracy with Logistic regression :  0.7228915662650602

## Applying Naive Bayes :

In [116]:
from sklearn.naive_bayes import GaussianNB

clf=GaussianNB()
clf.fit(X_train,y_train)
scores = cross_val_score(clf, X_train, y_train, cv=10)
print("training accuracy with Naive Bayes  : ",scores.mean())
print("testing Accuracy with Nayive Bayes: ", accuracy_score(clf.predict(X_test),y_test))

training accuracy with Naive Bayes  :  0.6836725463591136
testing Accuracy with Nayive Bayes:  0.7048192771084337

we can clearly obsever that there has been a significant improvemment in the accuracy of the dataset after we converted our imbalanced dataset into balanced using upsampling technique.